@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section{
  position: relative;
  background:#f0f8ff;
  min-height: 100vh;
  display: flex;
  justify-content:center;
  align-items:center;
}
section .main{
  position:relative;
  width:17rem;
  height:23rem;
  background: #fff;
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0,0,025) ;
  margin-top:-10rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s;
}
section.light{
  background: #24292d;
}

section.light .main{
  background:#323840;
}

section .main .content, 
section .main .Img-text{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
section .main .text .box{
  position: relative;
  height:12rem;
  width:12rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
section .main .text .box img{
  position:absolute;
  left:0;
  right:0;
  width:100%;
  height:100%;
  object-fit:cover;
}
 section .main .text h3{
   font-weight: 500;
   font-size: 1.4em;
   line-height: 1.2em;
   text-align: center;
   color:#2fa1ff;
 }
 section .main .text h3 span{
   font-weight:400;
   color:#777;
   font-size: 0.75em;
 }
 section.light .main .text h3 span{
   color:#ccc;
 }
 
section .main .sci{
  display:flex;
}
section .main .sci li{
  list-style: none;
}
 section .main .sci li a{
   position: relative;
   width:3rem;
   height:3rem;
   background: #e9f5ff;
   color:#2fa1ff;
   margin:0 0.5rem;
   display:flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   border-radius: 50%;
   font-size: 1.25em;
   transition: 0.5s;
 }
 section.light .main .sci li a {
   background:#404852;
 }
 section .main .sci li a:hover{
   color:#fff;
 }
 
section .main .sci li a .fa{
  position: relative;
  z-index:1000;
}
 section .main .sci li a:before{
   content: "";
   position: absolute;
   width:100%;
   height:100%;
   background:#2fa1ff;
   border-radius: 50%;
   transform: scale(0);
   transition: 0.5s;
 }
 section .main .sci li a:hover:before{
   transform:scale(1);
 }
 .dark{
   position: absolute;
   top:1rem;
   right:0.6rem;
   background:#e9f5ff;
   width:3rem;
   height:3rem;
   border-radius:50%;
   display:flex;
   justify-content: center;
   align-items: center;
   cursor:pointer;
 }
 section.light .dark{
   background:#404852;
 }
 
 .dark:before{
   content:"\f186";
   font-family: fontAwesome;
   color:#2fa1ff;
 }
section.light .dark:before{
  content: "\f185";
  color:#fff;
}

.isaac-newton-png{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15%;
  position: absolute;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

#isaac-png{
  width:20rem;
  height:15rem;
  margin-left: 30%;
}
